*{
	margin:0px;
	padding:0px;
}
ul.menu_g {
  display: flex;
  list-style-type: none;
  background: rgb(171, 174, 176);
  padding: 9px;
}
.container {
  width: 800px;
  background: rgb(198, 199, 237);
  margin: auto;
  min-height: 400px;
}
.form1 {
  padding: 10px;
  margin-left: 34px;
}
a.c1 {
  color: white;
  text-decoration: blink;
}
p {
  font-family: monospace;
}
td {
  border: 0px;
  border-bottom: 1px solid black;
  padding: 5px;
}
table.tabl {
  width: 100%;
  border: 0px;
    background-color: rgb(240, 240, 240);
}
a.fwf {
  text-decoration: blink;
  background-color: rgb(247, 247, 247);
  padding: 4px;
  display: block;
  text-align: center;
  font-size: larger;
  color: black;
}
a.fwf:hover {
  text-decoration: blink;

    background-color: rgb(200, 213, 239);
  padding: 4px;
  display: block;
  text-align: center;
  font-size: larger;
  color: black;
}
textarea.we2 {
  padding: 8px;
}
td.del {
  border: 0px;
}
.form1 {
  padding: 10px;
  margin-left: 34px;
  width: 500px;
  margin: auto;
}
p.war {
  background-color: rgba(255, 82, 82, 0.87);
  text-align: center;
  padding: 7px;
}
p.war1 {
  background-color: rgba(132, 255, 82, 0.87);
  text-align: center;
  padding: 7px;
}
h2 {
  font-family: sans-serif;
  /* font-size: larger; */
  font-style: inherit;
  font-weight: 300;
  color: rgb(82, 95, 82);
  margin-bottom: 12px;
}
input.form_text {
  padding: 2px;
  margin-bottom: 14px;
  width: 100%;
}
ul.menu_g li{
  margin-left:5px;
}
ul.menu_g li {
  margin-left: 39px;
}
a.a_click {
  text-decoration: blink;
  background: rgb(229, 229, 229);
  padding: 5px;
  color: rgb(40, 108, 186);
  border-radius: 5px;
  font-family: monospace;
}
a.a_click:hover {
 text-decoration: blink;
  background: rgb(252, 252, 252);
  padding: 5px;
  color: rgb(17, 119, 237);
  border-radius: 5px;
}
span.ad {
  font-family: sans-serif;
  color: white;
}